.jobs {
  &-hero {

    padding: 0 7rem 0;

    .text-notes {
      padding-top: 10%;
    }

    #notes {
      padding-bottom: 2rem;
      display: flex;
      align-items: flex-end;
    }
  }

  &-wrapper {
    display: flex;
    padding: 0 7rem 20rem;
    margin-top: 4.25rem;
    gap: 3rem;

    &-card {
      background-color: $primary-color;
    }

  }

  #wrapper-button {
    display: flex;
    padding-left: 80%;
    padding-bottom: 1rem;
    text-transform: uppercase;
    color: $secondary-color;
  }

  #wrapper-button button:hover {
    transform: translate(0.3rem);
    transition-duration: 0.40s;
  }

}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}