@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-color: #1e1e1e;
$secondary-color: #ffffff;

.big-title-Book {
  font-family: "RecifeDisplay-Book";
  font-size: 10rem;
  line-height: 10.5rem;
  font-weight: 400;
  color: $primary-color;
}

.big-title-BookItalic {
  font-family: "RecifeDisplay-BookItalic";
  font-size: 10rem;
  line-height: 10.5rem;
  font-weight: 400;
  color: $primary-color;
}

.big-title-Regular {
  font-family: "HelveticaNeue";
  font-size: 10rem;
  font-weight: 400;
  text-transform: uppercase;
  color: $primary-color;
}

.title-Regular {
  font-family: "HelveticaNeue";
  font-size: 6rem;
  font-weight: 400;
  text-transform: uppercase;
  color: $primary-color;
  margin-left: 19rem;
}

.text-note {
  font-family: "HelveticaNeue-Light";
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.25rem;
  color: rgba($primary-color, 0.5);
}

.text-detail {
  font-family: "HelveticaNeue-Light";
  font-size: 0.75rem;
  font-weight: 300;
  color: $primary-color;
}

.navbar-text {
  font-family: "HelveticaNeue-Light";
  font-size: 1rem;
  font-weight: 300;
  color: $primary-color;
  text-decoration: none;
  display: block;
  text-align: end;
}

.home-subtitle {
  font-family: "RecifeDisplay-Book";
  font-size: 2rem;
  font-weight: 400;
  color: $primary-color;
}

.home-subtitle-location {
  font-family: "RecifeDisplay-Book";
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba($primary-color, 0.5);
  width: -webkit-min-content;
}
