@font-face {
  font-family: "RecifeDisplay-Book";
  src: local("RecifeDisplay-Book"),
    url("./fonts/RecifeDisplay-Book.woff2") format("truetype");
}

@font-face {
  font-family: "RecifeDisplay-BookItalic";
  src: local("RecifeDisplay-BookItalic"),
    url("./fonts/RecifeDisplay-BookItalic.woff2") format("truetype");
}

@font-face {
  font-family: "HelveticaNeue-Light";
  src: local("HelveticaNeue-Light"),
    url("./fonts/HelveticaNeue-Light.woff2") format("truetype");
}

@font-face {
  font-family: "HelveticaNeue";
  src: local("HelveticaNeue"),
    url("./fonts/HelveticaNeue.woff2") format("truetype");
}

@font-face {
  font-family: "HelveticaNeue-Medium";
  src: local("HelveticaNeue-Medium"),
    url("./fonts/HelveticaNeue-Medium.woff2") format("truetype");
}
