.card-publication {
  margin-top: 4.25rem;
  padding-right: 7rem;
  padding-bottom: 2rem;

  &-img {
    width: 100%;
  }

  &-body {
    margin-top: 1.5rem;
    width: 100%;
  }

  &-date {
    text-transform: uppercase;
  }
}
