.card-award {
  margin-top: 4.25rem;
  padding-right: 1rem;
  flex: 0 0 auto;
  max-width: 25%;

  @include sm {
    max-width: 50%;
  }

  &-img {
    width: 100%;
  }

  &-body {
    margin-top: 1rem;
    width: 100%;
  }

  &-date {
    text-transform: uppercase;
    margin-top: 0.5rem;
  }
}
