.card-jobs {
  padding: 1.5rem 2rem 0rem 1.5rem;
  background-color: $primary-color;

  * {
    color: rgba($secondary-color, 0.9);
  }

  &-title {
    margin-bottom: 1rem;
  }

  &-description {
    margin-bottom: 1.5rem;
  }

  &-see:hover {
    transform: translate(0.3rem);
    transition-duration: 0.25s;
  }
}