.popup {

    background-color: $primary-color;
    display: flex;
    position: absolute;
    margin: 15rem 7rem 0;
    z-index: 2;
    height: 50vh;

    &-inner {
        color: $secondary-color;
        font-size: 1.8rem;
    }

    &-inner button {
        padding-top: 1rem;
        margin-left: 95%;
    }

    &-inner button:hover {

        transform: rotate(360deg);
        transition-duration: 1s;
    }
}
