@import "../../base.scss";

.navbar {
  //
  background-color: blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  //
  position: sticky;
  width: 100%;
  z-index: 2;
  padding-top: 3rem;

  ul {
    //
    background-color: red;
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: space-between;
    //
    width: 75%;
  }

  .logo {
    background-color: green;
    width: 12.5rem;
  }
}
