@import "../../base.scss";

.navbar {
  background-color: blue;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  z-index: 2;
  padding: 3rem 7rem;

  &-menu {
    background-color: red;
    list-style: none;
  }

  &-logo {
    width: 12.5rem;
  }
}
