@import "../../styles/applications.scss";

.header {
  @include flex($justify: space-between);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  ul {
    @include flex($justify: space-between);
    width: 25%;
  }
}
